*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  height: 100vh;
}
button {
  margin: 2rem;
}
.btn {
  background: var(--background-color);
  color: var(--font-color);
  --background-color: rgb(191, 237, 169);
  --font-color: rgb(63, 5, 5);
  --accent-color:rgb(11, 65, 134);
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  /* defualt button border black 
    here removed through border none*/
  outline: none;
  /* the button's focus state or if 
    you prefer not to display the outline 
    at all.  */

  position: relative;
  cursor: pointer;
  --border-size: 5px;
}
/* background color wave form */
.btn.btn-background-circle:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transform: scale(1.5);
    transition: transform 1s ease-in-out;
    
    }
    .btn.btn-background-circle{
      z-index: 1;
      overflow: hidden;
      /* hide extra black color where overflowed from buttton */
    background-color: var(--accent-color);
    transition: color 1s ease-in-out;
    }
    .btn.btn-background-circle:hover::before,
    .btn.btn-background-circle:hover::after{
      transform: scale(0);
    
    }
    .btn.btn-background-circle:hover,
    .btn.btn-background-circle:focus{
      color: aliceblue;
    }